# Домашняя работа 1.

## Задание
Хранить историю контрольных работ с заданиями, какой студент на что сдал, информацию о студенте.

In [1]:
import sqlite3

Создаем пустую базу данных

Создаем таблицы

#### tests - контрольные работы. Общее.
- id_test - идентификатор контрольной работы **(int)**
- discipline - название курса/предмета **(str)**
- task_text - текст задания **(str)**
- t_name - название работы **(str)**
- c_date - дата **(str)**

#### students - информация о студентах
- id_student - идентификатор студента **(int)**
- s_name - имя **(str)**
- s_course - курс обучения **(int)**
- s_degree - бакалавриат/магистратура **(str)**
- s_program - программа подготовки **(str)**


#### results - результаты работ
- id_result - идентификатор решения **(int)**
- id_student - id студента **(int)**
- id_test - id контрольной работы **(int)**
- mark - оценка за работы **(int)**

In [2]:
create_table = {
    'tests': [('id_test','INTEGER PRIMARY KEY AUTOINCREMENT'),('discipline','TEXT'),('task_text','TEXT'),('t_name','TEXT'),('c_date','TEXT')],
    'students': [('id_student','INTEGER PRIMARY KEY AUTOINCREMENT'),('s_name','TEXT'),('s_course','INTEGER'),('s_degree','TEXT'),('s_program','TEXT')],
    'results': [('id_result','INTEGER PRIMARY KEY AUTOINCREMENT'),('id_student','INTEGER'),('id_test','INTEGER'),('mark','INTEGER')]
}

In [3]:
def create_tables(cur, create_table):
    for i in create_table:
        row = ', '.join([' '.join(pair) for pair in create_table[i]])
        command = 'CREATE TABLE {} ({})'.format(i, row)
        print (command)
        cur.execute(command)

In [4]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [5]:
create_tables(cur, create_table)

CREATE TABLE tests (id_test INTEGER PRIMARY KEY AUTOINCREMENT, discipline TEXT, task_text TEXT, t_name TEXT, c_date TEXT)
CREATE TABLE students (id_student INTEGER PRIMARY KEY AUTOINCREMENT, s_name TEXT, s_course INTEGER, s_degree TEXT, s_program TEXT)
CREATE TABLE results (id_result INTEGER PRIMARY KEY AUTOINCREMENT, id_student INTEGER, id_test INTEGER, mark INTEGER)

In [6]:
con.commit()

In [7]:
import random
import string
s = string.ascii_lowercase
''.join(random.sample(string.ascii_lowercase,6)).capitalize()

'Vfxbjr'

In [8]:
DISCIPLINES = ['Теория языка','Дискретная математика','Матанализ', 'Статистика', 'Французский']

In [9]:
def random_name():
    return '{} {}'.format(''.join(random.sample(string.ascii_lowercase,9)).capitalize(),
                         ''.join(random.sample(string.ascii_lowercase,6)).capitalize())

In [10]:
DATES = ['2018-09-01','2018-09-02','2018-09-20','2018-09-21','2018-10-01','2018-10-05']

In [11]:
random_name()

'Lzahwoqim Ezjbis'

In [12]:
PROGRAMS = ['РКИ','Теория','Комплинг']

In [13]:
def generate_data():
    #tests
    for i in range(20):
        cur.execute('INSERT INTO tests (id_test, discipline, task_text, t_name, c_date) VALUES ({},\"{}\",\"{}\",\"{}\",\"{}\")'.format(
        str(i), random.choice(DISCIPLINES), ''.join(random.sample(string.ascii_lowercase,25)).capitalize(), 
            ''.join(random.sample(string.ascii_lowercase+' ',25)).capitalize(), random.choice(DATES)
        ))
    for i in range(300):
        cur.execute('INSERT INTO students (id_student, s_name, s_course, s_degree, s_program) VALUES ({},\"{}\",{},\"бак\",\"ФиКЛ\")'.format(
        str(i), random_name(), str(random.randint(1,4))
        ))
    for i in range(100):
        cur.execute('INSERT INTO students (id_student, s_name, s_course, s_degree, s_program) VALUES ({},\"{}\",{},\"маг\",\"{}\")'.format(
        str(300+i), random_name(), str(random.randint(1,2)), random.choice(PROGRAMS)
        )) 
    for i in range(1000):
        cur.execute('INSERT INTO results (id_result, id_student, id_test, mark) VALUES ({},{},{},{})'.format(
        str(i), random.randint(0,400), random.randint(0,20), random.randint(3,10)
        ))
    con.commit()

In [14]:
generate_data()

In [19]:
cur.execute("SELECT DISTINCT results.mark, tests.discipline, tests.c_date, students.s_name FROM students, results, tests WHERE results.id_student = 40 AND students.id_student=results.id_student AND tests.id_test=results.id_test")
cur.fetchall()

[(10, 'Статистика', '2018-09-20', 'Wdgfjqltx Xmiwyd'),
 (8, 'Матанализ', '2018-10-01', 'Wdgfjqltx Xmiwyd')]

In [21]:
#1
n = 6
cur.execute("SELECT DISTINCT tests.t_name FROM tests")
cur.fetchall()

[('Hxginokc vejypafqrudbszlw',),
 ('Tpvilbdhxqjngfzkmcuys oew',),
 ('Pudtkhbmioxcewylfqasgj zn',),
 ('Mobltcaueqpjnrdkyhvswfig ',),
 ('Kqaltynujfmzpcgvwhxsoride',),
 ('Sdgqw umxfpnialejbtochkyv',),
 ('Auhqfj bsygtdecnmzvxopkwr',),
 ('Tlsnkmfbdc awrhpjgozequyx',),
 ('Xetmfjnwcapquzirdb lkohsy',),
 ('Yjgncqs uhfxiwzdkrotpelmb',),
 ('Xtpfleuboyhkaqmdcvnzigwrj',),
 ('Adjvqfxmhglziucprkwtys eo',),
 ('Hxvfkmiwjyoeqgadrtpcuzbln',),
 ('Paswrzkomhlnqfybt cjidguv',),
 (' bztdyisepfojxkrnwlhugmva',),
 ('Bpoflstqzarindejhym gxwvk',),
 ('Mif yakqhndloprvusgjbcxwe',),
 ('Htovmpuwdxfai jglnskceqyb',),
 ('Qfvxadbgkzycuwojernsmpilh',),
 (' dhalxtijprnvqzgokcbmeyuf',)]

In [82]:
random.randint(0,20)

3